body {
    font-family: monospace;
    background: lavender;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 150px;
    background: skyblue;
    margin: auto;
}

img {
    width: 33.33%;
    padding: 5px;
}

h1 {
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 10px; 
}

#main {
    width: 60%;
}

select {

}